<h1 class="bg-primary">Welcome to one conversion</h1>
<app-tasks></app-tasks>
<!-- <h4>List of completed Task</h4>
<div *ngIf="showMsg; then showThenMsg else showElseMsg" ></div>
<ng-template #showElseMsg>Show Else Message</ng-template>
<ng-template #showThenMsg>Show Then Message</ng-template>

<h4>switch Example</h4>
<div [ngSwitch]="switchValue">
    <div *ngSwitchCase="1">1</div>
    <div *ngSwitchCase="2">2</div>
    <div *ngSwitchCase="3">3</div>
    <div *ngSwitchCase="4">4</div>
    <div *ngSwitchDefault>This is Default</div>


</div>

<h3>ngFor</h3>
<table class="table">
    <tr>
        <th>Userd Id</th>
        <th>Username</th>
        <th>Index</th>
        <th>Last</th>
        <th>Even</th>
        <th>Odd</th>
    </tr>
    <tr *ngFor="let ele of users; index as i; first as f; even as e; odd as o ">
        <td>{{ele.id}}</td>
        <td>{{ele.name}}</td>
        <td>{{i}}</td>
        <td>{{f}}</td>
        <td>{{e}}</td>
        <td>{{o}}</td>
        
    </tr>
</table> -->
<!-- <div [ngStyle]="{'color': colorVal,'background-color':'#dddd'}">
    Learning angular is fun

</div >
   
<div  [ngClass]="'one'" >
    Learning ngClass
</div>
<div  [ngClass]="[clsName, clsName2]" >
    Learning ngClass
</div>

<div [ngClass]="{'three': true}">
  testing myself
</div> -->


<!--InterPolation-->

<div>{{subTitle}}</div>
<div>{{epNum}}</div>

<div>
    {{user.userId}} {{user.userName}}
</div>

<div [ngStyle]="{color:colorVal}" >This is example</div>
<p [innerHTML] = 'subTitle ' ></p>
<input type="text" [placeholder] = "placeholderVal">
<a [href] = "hrefVal" [attr.updateLink] = 'updatedLink'>Google</a>

<input type="text" (focus)="consoleLog()">
<h4>Learning two way data binding</h4>
<input  [(ngModel)]="firstname">
<div>{{firstname}}</div>


<!--EVENT BINDIN-->

<button (click)="showAlert(10)">Click me</button>

<div>
    {{user2.firstName  | lowercase }}, {{user2.lastName | uppercase}}
</div>

<div> {{user2.DOB | date:'longDate'}}</div>
<div>{{user2.salary | currency:'INR':'INR': '3.0-0'}}</div>
<div>{{user2 | json}}</div>

<h4>Chaining pipes</h4>

<div>
    {{user2.DOB | date:'MMMM' |uppercase }}
</div>
<h4>Example of custom pipe</h4>
<div [innerHTML] = "user3.city | highlight:user3.city"></div>

<app-completed-tasks></app-completed-tasks>
<router-outlet></router-outlet>
